AI-Email-Triage&Summary-System/AI_Email_Triage&Summary_System.json
{
  "name": "📧 AI Email Triage & Summary System",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22a24c62-7e06-400c-8366-ecd1a8a86a10",
              "name": "subject",
              "value": "={{$json.headers.subject.replace(/^Subject:\\s*/i, \"\")}}",
              "type": "string"
            },
            {
              "id": "57f366c0-9d8b-4a03-aa1d-7502999c152b",
              "name": "from",
              "value": "={{$json.headers.from.replace(/^From:\\s*/i, \"\")}}",
              "type": "string"
            },
            {
              "id": "ade72dd8-4fe3-47cd-85d6-85bfa8960056",
              "name": "body",
              "value": "={{ \n  ($json.text || $json.html || $json.snippet || \"\")\n    .replace(/<[^>]*>/g, \"\")\n    .replace(/&#39;/g, \"'\")\n    .replace(/&amp;/g, \"&\")\n    .replace(/&quot;/g, '\"')\n    .replace(/\\s+/g, \" \")\n    .trim()\n}}",
              "type": "string"
            },
            {
              "id": "6b92d9c7-e1eb-43c5-a7af-d7188a420396",
              "name": "time",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "5019f1eb-998a-46a8-9c02-9ca699ae3d28",
              "name": "id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "55f77280-9f08-425f-8cfd-6592c7e0100e",
              "name": "Summary",
              "value": "={{ \n  ($json.text || $json.snippet || \"\")\n    .replace(/&#39;/g, \"'\")\n    .replace(/&amp;/g, \"&\")\n    .replace(/&quot;/g, '\"')\n    .replace(/<[^>]*>/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .slice(0, 300)\n}}",
              "type": "string"
            },
            {
              "id": "921c6e9d-f1c3-4d66-af1d-d5471dab6302",
              "name": "Category",
              "value": "={{ \n  ($json.labelIds || [])\n    .filter(l => l.startsWith(\"CATEGORY_\") || l === \"UNREAD\" || l === \"INBOX\")\n    .join(\", \")\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4272,
        1360
      ],
      "id": "a1c44d64-2dfd-436a-aadc-2913ae9e336d",
      "name": "📨 Prepare Email Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4512,
        1360
      ],
      "id": "00d0b501-c980-4ef8-aa9b-2ed95de4e7d9",
      "name": "⏱ Delay (Rate Limit / Stability)",
      "webhookId": "27f132bd-10ff-480d-ab8c-960a6b51486b"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.id}}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4032,
        1360
      ],
      "id": "8fc4826b-de37-45bb-a3af-0a2d2d677021",
      "name": "📨 Fetch Email Details",
      "webhookId": "bf835c3a-1e36-41f9-86dd-dfbeb2ba0570",
      "credentials": {
        "gmailOAuth2": {
          "id": "4tuYpfrh320Nd9DV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": "={{ [\"INBOX\"] }}"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        3776,
        1360
      ],
      "id": "60ad83ff-97d5-47be-aeb6-b2290e799f4d",
      "name": "📥 Gmail Trigger (New Emails)",
      "credentials": {
        "gmailOAuth2": {
          "id": "4tuYpfrh320Nd9DV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyDQPu3Npv8y0x4RRAeKBf9r_z_dH4qltkY"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Raw",
        "body": "={{ \nJSON.stringify({\n  contents: [\n    {\n      parts: [\n        {\n          text: `Classify the email into:\n- Urgent\n- Follow-up\n- FYI\n\nAlso give short summary max 8 words.\n\nReturn only:\nCategory: <value>\nSummary: <value>\n\nEmail:\nSubject: ${$json.subject || \"\"}\nBody: ${$json.body || \"\"}`\n        }\n      ]\n    }\n  ]\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4752,
        1424
      ],
      "id": "5260ecf4-c88f-4bcf-b91b-aaddf078dfd0",
      "name": "🤖 AI Classifier (Gemini)",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4992,
        1376
      ],
      "id": "8e364f3d-7997-40c7-8c11-643d8bc4742b",
      "name": "🔀 Merge Email + AI Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "txt-ai",
              "name": "aiText",
              "value": "=aiText:\n{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || \"\" }}",
              "type": "string"
            },
            {
              "id": "cat-ai",
              "name": "category",
              "value": "={{\n  ($json.candidates?.[0]?.content?.parts?.[0]?.text || \"\")\n    .match(/Category:\\s*(.*)/)?.[1]\n    ?.trim()\n  || \"FYI\"\n}}",
              "type": "string"
            },
            {
              "id": "sum-ai",
              "name": "summary",
              "value": "={{\n  ($json.candidates?.[0]?.content?.parts?.[0]?.text || \"\")\n    .match(/Summary:\\s*(.*)/)?.[1]\n    ?.trim()\n  || \"No summary\"\n}}",
              "type": "string"
            },
            {
              "id": "time-final",
              "name": "Time",
              "value": "={{$json.time || $json.date || ( $json.internalDate ? new Date(Number($json.internalDate)).toLocaleString() : $now )}}",
              "type": "string"
            },
            {
              "id": "subject-final",
              "name": "Subject",
              "value": "={{$json.subject || $json.Subject || $json.headers?.subject || \"\"}}",
              "type": "string"
            },
            {
              "id": "from-final",
              "name": "From",
              "value": "={{$json.from || $json.From || $json.headers?.from || \"\"}}",
              "type": "string"
            },
            {
              "id": "category-final",
              "name": "Category",
              "value": "={{$json.category || \"FYI\"}}",
              "type": "string"
            },
            {
              "id": "body-final",
              "name": "body",
              "value": "={{$json.body}}",
              "type": "string"
            },
            {
              "id": "id-final",
              "name": "id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "thread-final",
              "name": "threadId",
              "value": "={{$json.threadId}}",
              "type": "string"
            },
            {
              "id": "labels-final",
              "name": "labelIds",
              "value": "={{Array.isArray($json.labelIds) ? $json.labelIds.join(',') : ($json.labelIds || '')}}",
              "type": "string"
            },
            {
              "id": "snippet-final",
              "name": "snippet",
              "value": "={{$json.snippet || $json.Summary || $json.summary || ''}}",
              "type": "string"
            },
            {
              "id": "size-final",
              "name": "sizeEstimate",
              "value": "={{$json.sizeEstimate}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5248,
        1376
      ],
      "id": "ddd9c543-ac6f-4c1f-b46b-856b6677ca49",
      "name": "🧹 Final Clean Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14MkRQkezSDT26q7EpyBd-HIshGfPgR-tVKNeuGMYskk",
          "mode": "list",
          "cachedResultName": "EmailLogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MkRQkezSDT26q7EpyBd-HIshGfPgR-tVKNeuGMYskk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MkRQkezSDT26q7EpyBd-HIshGfPgR-tVKNeuGMYskk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{$json.Time}}",
            "Subject": "={{$json.Subject\n  .replace(/=\\?UTF-8\\?Q\\?/g, \"\")\n  .replace(/\\?=/g, \"\")\n  .replace(/\\r?\\n/g, \" \")\n  .replace(/_/g, \" \")\n  .replace(/=E2=9C=89=EF=B8=8F/g, \"✉️\")\n  .replace(/=20/g, \" \")\n  .trim()\n}}",
            "From": "={{$json.From}}",
            "Category": "={{$json.category}}",
            "Summary": "={{$json.summary}}",
            "id": "={{$json.id}}",
            "threadId": "={{$json.threadId}}",
            "labelIds": "={{$json.labelIds}}",
            "snippet": "={{\n($json.snippet || $json.body || \"\")\n.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, \"\")\n.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, \"\")\n.replace(/<[^>]+>/g, \" \")\n.replace(/@media[^}]+}/gi, \"\")     // remove media queries\n.replace(/body[^}]*}/gi, \"\")       // remove body css\n.replace(/\\{[^}]*\\}/g, \"\")         // remove remaining css blocks\n.replace(/^[^a-zA-Z]+/, \"\")        // remove starting junk\n.replace(/\\s+/g, \" \")\n.trim()\n.slice(0, 200)\n}}",
            "sizeEstimate": "={{$json.sizeEstimate}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sizeEstimate",
              "displayName": "sizeEstimate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "historyId",
              "displayName": "historyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "internalDate",
              "displayName": "internalDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5472,
        1376
      ],
      "id": "6e0fe1d6-d9e3-488b-952e-07cf3dd8d7e6",
      "name": "📊 Save to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lCflqsDLL7pEBpw0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Starts when new email arrives",
        "height": 96,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3728,
        1248
      ],
      "typeVersion": 1,
      "id": "969490e0-3f5d-4529-bfae-beed1be83c22",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Gets full email data (subject, body, from)",
        "height": 96,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3968,
        1248
      ],
      "typeVersion": 1,
      "id": "79522ff4-a884-433a-b55c-c73af2d2fd23",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Cleans and prepares email for AI",
        "height": 96,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4208,
        1248
      ],
      "typeVersion": 1,
      "id": "6e700821-41d9-43d0-902b-de3d874d95d6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Wait before calling AI (avoid errors)",
        "height": 96,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4448,
        1248
      ],
      "typeVersion": 1,
      "id": "66166092-3d60-4cf2-9f89-cc963635d756",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Classifies email and creates summary",
        "height": 96,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4688,
        1248
      ],
      "typeVersion": 1,
      "id": "5be554b6-a342-479c-a2a6-3c61cdea3881",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Combines email + AI data",
        "height": 96,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4928,
        1248
      ],
      "typeVersion": 1,
      "id": "9d7500e3-7f2f-4282-894c-1428fde90490",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Cleans and formats final output",
        "height": 96,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5168,
        1248
      ],
      "typeVersion": 1,
      "id": "e7e6ed39-b1ff-449b-a884-9f51b825077b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Saves data to sheet",
        "height": 96,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5408,
        1248
      ],
      "typeVersion": 1,
      "id": "6f77a5a7-903b-4830-833a-a7a4a9cc7059",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Build an AI-powered email automation system that:\n                - Reads incoming emails\n                - Uses AI to classify and summarize\n                - Stores clean data in Google Sheets",
        "height": 128,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4400,
        1072
      ],
      "typeVersion": 1,
      "id": "67f74710-7c4c-4a0f-8651-29a6dea14060",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "📨 Prepare Email Data": {
      "main": [
        [
          {
            "node": "⏱ Delay (Rate Limit / Stability)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱ Delay (Rate Limit / Stability)": {
      "main": [
        [
          {
            "node": "🔀 Merge Email + AI Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "🤖 AI Classifier (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Fetch Email Details": {
      "main": [
        [
          {
            "node": "📨 Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Gmail Trigger (New Emails)": {
      "main": [
        [
          {
            "node": "📨 Fetch Email Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI Classifier (Gemini)": {
      "main": [
        [
          {
            "node": "🔀 Merge Email + AI Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Merge Email + AI Data": {
      "main": [
        [
          {
            "node": "🧹 Final Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Final Clean Data": {
      "main": [
        [
          {
            "node": "📊 Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6f2617e1-04ec-4fca-8f32-7efefb11c407",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87c620ea2b9d4be5c68eab34c15dd70c1732e9c9e552a5e68648339cc8d95c13"
  },
  "id": "lNdgktHCpltIufuX",
  "tags": []
}